:root {
  --bg-color: #142d4c;
  --hero-color: #ececec;
  --btn-color: #9fd3c7;
  --space-color: #385170;
  --heading-font-family: 'Merriweather', serif;
  --brand-font-family: 'Pangolin', cursive;
  --regular-font-family: 'Roboto', sans-serif;
}
body {
  font-family: var(--regular-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}
.hero {
  background-color: var(--bg-color);
  color: var(--hero-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
.about-hero {
  background-color: var(--bg-color);
  color: var(--hero-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
.hero h1 {
  font-size: 6rem;
  transition: all 200ms ease-in-out;
}
.hero h4 {
  font-size: 1.4rem;
}
a {
  padding: 10px 30px;
  border-radius: 4px;
  font-weight: 700;
  transition: all 200ms ease-in-out;
}
.btn-contact {
  border: 2px solid var(--btn-color);
  text-decoration: none;
  background-color: transparent;
  color: var(--bg-color);
  background-color: var(--btn-color);
}
.btn-contact:hover {
  text-decoration: none;
  background-color: var(--space-color);
  color: var(--btn-color);
}
.btn-brand {
  border: 2px solid var(--btn-color);
  text-decoration: none;
  background-color: var(--space-color);
  color: var(--btn-color);
}
.btn-brand:hover {
  background-color: var(--btn-color);

  color: #142d4c;
}

.my-brand {
  font-family: 'Pangolin', cursive;
  font-weight: 500;
}

@media (max-width: 578px) {
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }
  .hero h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  .descriptions {
    text-align: center;
  }
  .contact-mail {
    text-align: center;
  }
  .hero {
    height: 100vh;
  }
  
}
.my-body {
  background-color: var(--space-color);
  color: var(--hero-color);
}
.my-footer {
  background-color: var(--bg-color);
  color: var(--btn-color);
}
.about-footer {
  background-color: var(--hero-color);
  color: var(--bg-color);
}
.about-footer .icons i{
  color: var(--bg-color);
  border: 1px solid var(--bg-color);
}

.icons {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.icons i {
  color: var(--btn-color);
  border: 1px solid var(--btn-color);
  border-radius: 50%;
  padding: 10px;
  transition: all 200ms ease-in-out;
}
.icons i:hover {
  opacity: 70%;
}
